html,body {
    padding:0;
    margin:0;
}

#root {
    text-align:center;
    padding:20px;
}

.container {
    position:relative;

}

.container .item {
    position:absolute;
    padding:2px;
}

.container .item img {

}